* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: flex-end;
  min-height: 90px;
  align-items: center;
  background-color: #6876c0;
  font-family: "Rubik", sans-serif;
}

.logo {
  position: absolute;
  left: 86px;
  top: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.105em;
  color: #ffffff;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  padding-right: 5%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  width: 491px;
  height: 21px;
  left: 1310px;
  top: 36px;
  letter-spacing: 0.105em;
}

main {
  font-family: "Rubik", sans-serif;
}

.main-text {
  position: absolute;
  width: 1064px;
  height: 237px;
  left: 76px;
  top: 286px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
  letter-spacing: 0.105em;
  color: #000000;
}

.sub-text {
  position: absolute;
  left: 86px;
  top: 601px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.105em;
  color: #000000;
}

.boton-descargar1 {
  position: absolute;
  width: 404px;
  height: 71px;
  left: 269px;
  top: 721px;
  background: linear-gradient(180deg, #5f6db3 0%, rgba(95, 109, 179, 0) 366.2%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 32px;
}

.descargar {
  position: absolute;
  width: 170px;
  height: 28px;
  text-align: center;
  left: 115px;
  top: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.105em;
  color: #ffffff;
}

.HERO {
  position: absolute;
  width: 648px;
  height: 692.16px;
  left: 1200px;
  top: 240px;
}

.transition1 {
  position: absolute;
  width: 1929px;
  height: 197.1px;
  left: -64px;
  top: 970px;
}

.barra1 {
  position: absolute;
  width: 1262px;
  height: 40px;
  left: 376px;
  top: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.barra2 {
  position: absolute;
  width: 1188px;
  height: 40px;
  left: 413px;
  top: 2078px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.texto {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.105em;

  color: #000000;
}
.flecha {
}

.CELU1 {
  position: absolute;
  width: 343px;
  height: 478px;
  left: 300px;
  top: 1640px;
}

.CELU2 {
  position: absolute;
  width: 343px;
  height: 478px;
  left: 841px;
  top: 1640px;
}

.CELU3 {
  position: absolute;
  width: 343px;
  height: 478px;
  left: 1361px;
  top: 1640px;
}

.inventarioimg {
  position: absolute;
  width: 523.15px;
  height: 445.4px;
  left: 145px;
  top: 2585px;
}

.inventarioescrito {
  position: absolute;
  width: 820px;
  height: 57px;
  right: 0px;
  top: 2442px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Título-Invent {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  color: #000000;
}

.ParrafoDerecho {
  padding-top: 360px;
  padding-right: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  color: #000000;
}

.devolucionesimg {
  position: absolute;
  width: 672.38px;
  height: 575.95px;
  left: 1154px;
  top: 3504px;
}

.devolucionesescrito {
  width: 808px;
  height: 523px;
  left: 119px;
  top: 3492px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Titulo-Devoluc {
  position: absolute;
  width: 411px;
  height: 57px;
  left: 318px;
  top: 3492px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  letter-spacing: 0.105em;
  color: #000000;
}

.ParrafoIzq {
  position: absolute;
  width: 808px;
  height: 419px;
  left: 119px;
  top: 3596px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.repartoimg {
  position: absolute;
  width: 690px;
  height: 575.95px;
  right: 1154px;
  top: 4504px;
  left: 102px;
}

.repartoescrito {
  position: absolute;
  width: 808px;
  height: 670px;
  left: 1014px;
  top: 4495px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Titulo-Reparto {
  position: absolute;
  width: 243px;
  height: 57px;
  /* left: 1296px;
  top: 4495px; */
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  letter-spacing: 0.105em;
  color: #000000;
}

.Parrafo-Rep {
  padding-right: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  color: #000000;
}

.reporteimg {
  position: absolute;
  width: 605px;
  height: 675.74px;
  left: 1239px;
  top: 5683px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.reporteescrito {
  position: absolute;
  width: 861px;
  height: 591px;
  left: 119px;
  right: 200px;
  top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Titulo-Reporte {
  position: absolute;
  width: 780px;
  height: 57px;
  left: 143px;
  top: 5668px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  letter-spacing: 0.105em;
  color: #000000;
}

.Parrafo-Reportes {
  position: absolute;
  width: 861px;
  height: 476px;
  left: 119px;
  right: 200px;
  top: 5783px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.Premium-Banner {
  /* position: absolute; */
  width: 100%;
  height: 807px;
  /* left: -4px; */
  top: 6591px;
  display: flex;
  flex-direction: row;
}

.Fondo-Banner {
  position: absolute;
  width: 1924px;
  height: 807px;
  /* left: -4px; */
  top: 6591px;
  background: linear-gradient(
    46.52deg,
    rgba(255, 255, 255, 0.28) 47.3%,
    rgba(54, 176, 203, 0.28) 61.19%,
    #e71086 100%,
    rgba(242, 240, 240, 0) 73.22%
  );
  border-radius: 0px;
}

.HERO-Banner {
  position: absolute;
  width: 665px;
  height: 794px;
  left: 1212px;
  top: 6691px;
}

.Texto-Banner {
  position: absolute;
  width: 970px;
  height: 171px;
  left: 65px;
  top: 6970px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  letter-spacing: 0.105em;
  color: #000000;
}

.premiumword {
  color: #d8bc2c;
  display: inline;
}

.Boton-Premium-Banner {
  position: absolute;
  width: 404px;
  height: 71px;
  left: 314px;
  top: 7251px;
}

.Boton {
  width: 404px;
  height: 71px;
  left: 314px;
  top: 7251px;
  background: linear-gradient(180deg, rgba(255, 20, 175, 0.39) 0%, #48deff 204.23%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-descargar {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.105em;
  color: #ffffff;
}

.título-nosotros {
  position: absolute;
  width: 292px;
  height: 57px;
  left: 779px;
  top: 7568px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  letter-spacing: 0.105em;
  color: #000000;
}

.Presentacion-Martin {
  width: 1752px;
  height: 968px;
  left: 51px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
p {
  margin: 0;
  padding: 0;
}

.NombreCompletoMartin {
  position: absolute;
  width: 480px;
  height: 114px;
  left: 51px;
  top: 7858px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  letter-spacing: 0.105em;
  color: #000000;
}

.Sub-texto-martin {
  position: absolute;
  width: 513px;
  height: 43px;
  left: 52px;
  top: 7996px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.005em;
  color: #c5428a;
}

.parrafo-info-martin {
  position: absolute;
  width: 480px;
  height: 140px;
  left: 51px;
  top: 8063px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.005em;
  color: #000000;
}

.Redes {
  position: absolute;
  width: 144px;
  height: 48px;
  left: 52px;
  top: 8259px;
}

.Hero-Nacho {
  position: absolute;
  width: 845px;
  height: 968px;
  left: 958px;
  top: 7508px;
}

.Presentacion-Leila {
  /* position: absolute; */
  width: 565px;
  height: 461px;
  left: 1223px;
  /* top: 8668px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.NombreCompletoLeila {
  position: absolute;
  width: 489px;
  height: 114px;
  left: 1299px;
  top: 8668px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  text-align: right;
  letter-spacing: 0.105em;
  color: #000000;
}

.Sub-texto-leila {
  position: absolute;
  width: 565px;
  height: 43px;
  left: 1223px;
  top: 8858px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: right;
  letter-spacing: -0.005em;
  color: rgba(175, 80, 220, 0.91);
}

.parrafo-info-leila {
  position: absolute;
  width: 480px;
  height: 140px;
  left: 1302px;
  top: 8940px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  letter-spacing: -0.005em;
  color: #000000;
}

.Redes2 {
  position: absolute;
  width: 144px;
  height: 48px;
  left: 1638px;
  top: 9123px;
}

.Hero-Leila {
  position: absolute;
  width: 788px;
  height: 847px;
  left: 33px;
  top: 8428px;
}

footer {
  font-family: "Rubik", sans-serif;
}

.Footer {
  /* position: absolute; */
  width: 1920px;
  height: 280px;
  left: 0px;
  /* top: 9325px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.FondoFooter {
  position: absolute;
  width: 1920px;
  height: 280px;
  left: 0px;
  top: 9325px;
  background: #6876c0;
}

.LogoCaniYa {
  position: absolute;
  width: 79px;
  height: 80px;
  left: 129px;
  top: 9347px;
}

.logoimg {
  /* position: absolute; */
  width: 79px;
  height: 80px;
  left: 129px;
  color: #ffffff;
  /* top: 9347px; */
}

.texto-footer-logo {
  /* position: absolute; */
  width: 166px;
  height: 43px;
  left: 227px;
  /* top: 9365px; */
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 43px;
  letter-spacing: 0.105em;
  color: #ffffff;
}

.DirectorioFooter {
  position: absolute;
  width: 219px;
  height: 113px;
  left: 526px;
  top: 9376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

.Detalles {
  /* position: absolute; */
  width: 235px;
  height: 21px;
  /* left: 526px;
  top: 9468px; */
}

.detalles2 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.105em;
  color: #ffffff;
  text-decoration: none;
}

.Seguinos {
  position: absolute;
  width: 287px;
  height: 44.12px;
  left: 1490px;
  top: 9365px;
}

.follow {
  padding-left: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.105em;
  color: #ffffff;
}

.redesfooter {
  position: absolute;
  width: 176px;
  height: 86px;
}

.foot {
  position: absolute;
  width: 1724px;
  height: 0px;
  left: 98px;
  top: 9531px;
  border: 1px solid #202333;
  transform: rotate(0.07deg);
}

.copyright {
  width: 169px;
  height: 19px;
  left: 84px;
  padding-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.105em;
  color: #ffffff;
}
